{% extends 'base.html' %}

{% block content %}
    <h1>My Tasks</h1>
    {% for task in tasks_list %}
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
                <tbody>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_complete|yesno }}</td>
                    </tr>
                </tbody>
            </thead>
        </table>
    {% empty %}
        <p>You have no tasks</p>
    {% endfor %}
{% endblock content %}
