{% extends 'base.html' %}

{% block content %}
    <h1>My Projects</h1>
    <a href="{% url "create_project" %}">Create a new project</a>
    {% for projects in list_projects %}
        <table>
            <thead>
                <th>Name</th>
                <th>Number of tasks</th>
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url "show_project" projects.id %}">{{ projects.name }}</a>
                        </td>
                        <td>{{ projects.tasks.all|length }}</td>
                    </tr>
                </tbody>
            </thead>
        </table>
    {% empty %}
        <p>You are not assigned to any projects</p>
    {% endfor %}
{% endblock content %}
