{% extends 'base.html' %}

{% block content %}
    <h1>{{ project_info.name }}</h1>
    <p>{{ project_info.description }}</p>
    <h2>Tasks</h2>
    <a href="{% url "create_task" %}">Create a new task</a>
    {% for projects in project_info.tasks.all %}
        <table>
            <thead>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
                <tbody>
                    <tr>
                        <td>{{ projects.name }}</td>
                        <td>{{ projects.assignee }}</td>
                        <td>{{ projects.start_date }}</td>
                        <td>{{ projects.due_date }}</td>
                        <td>{{ projects.is_complete|yesno }}</td>
                    </tr>
                </tbody>
            </thead>
        </table>
    {% empty %}
        <p>This project has no tasks</p>
    {% endfor %}
{% endblock content %}
